<% include header.ejs %>
    <% include nav.ejs %>
      <% include status.ejs %>
      <header class="top">
          <h1>Mijn profiel</h1>
      </header>

      <% if (user) { %>

        <p>
  <% for (var index = 0; index < data.length; index++) { %>
        <%= data[index].voornaam %>
        <%= data[index].achternaam %>
          <%= data[index].email %>
          <%= data[index].leeftijd %>
            <%= data[index].minLeeftijd %>
              <%= data[index].maxLeeftijd %>
            <%= data[index].geslacht %>
              <%= data[index].voorkeur %>
              <% data[index].profielfoto %><img alt src="/profielfoto/<%= data[index].profielfoto %>">  %>
                  <%= data[index].boek %>
                    <%= data[index].schrijfer %>
                      <%= data[index].quote %>
        <% } %>
      </p>

      <p>
          <a href=/edit>edit</a>
      </p>
        <% } %>
        <% include footer.ejs %>
